<div *ngIf="propertiesLoading" style="padding-top:1em;">
  <div class="row">
    <div class="center-align col s12">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>

<div *ngIf="!propertiesLoading" style="padding-top:1em;">
  <div class="row">
    <div class="col s12">
      <h5>Watched properties</h5>

      <div class="properties collection">
        <a *ngFor="let property of properties" class="collection-item" [class.active]="selectedProperty === property" href="#"
           (click)="$event.preventDefault() || propertySelected(property)">
          {{ property.propertyName }} ({{ property.listings.length }} listings)
          <span *ngIf="property.propertyNotes" class="notes">- {{ property.propertyNotes }}</span>
        </a>
      </div>
    </div>

    <div class="center-align col s12">
      <a class="waves-light btn" routerLink="add-property">Watch new property</a>
      <button class="waves-light btn" (click)="refreshAllProperties()">Refresh All Properties</button>
    </div>
  </div>
</div>

<div *ngIf="selectedProperty">
  <div class="row">
    <div class="col s12">
      <h5>Selected Property</h5>

      <form [formGroup]="updatePropertyForm" (ngSubmit)="!updatingProperty && updateSelectedProperty()">
        <div class="input-field col s12 m6">
          <input id="propertyName" type="text" required formControlName="propertyName">
          <label for="propertyName" [class.active]="updatePropertyForm.value.propertyName">Property Name</label>
        </div>

        <div class="input-field col s12 m6">
          <input id="propertyNotes" type="text" formControlName="propertyNotes">
          <label for="propertyNotes" [class.active]="updatePropertyForm.value.propertyNotes">Notes</label>
        </div>

        <div class="center-align col s12">
          <button type="submit" [class.disabled]="updatingProperty" class="btn">Update</button>
          <button class="btn" [class.disabled]="updatingProperty" (click)="!updatingProperty && refreshSelectedProperty()">Refresh Listings</button>
          <button class="red btn" [class.disabled]="updatingProperty" (click)="!updatingProperty && deleteSelectedProperty()">Delete</button>
        </div>
      </form>

      <div *ngIf="updatingProperty" class="row">
        <div class="center-align col s12">
          <app-loading-spinner [small]="true"></app-loading-spinner>
        </div>
      </div>

      <div *ngIf="updatePropertyError" class="error row">
        <div class="center-align col s12">
          {{ updatePropertyError }}
        </div>
      </div>
    </div>

    <div class="col s12">
      <h5>Listings</h5>

      <table class="listings striped">
        <thead>
          <tr>
            <th>Address</th>
            <th>Bed/Bath/Park</th>
            <th>Price</th>
            <th>Availability</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listing of selectedProperty.listings">
            <td><a target="_blank" href="{{ listing.prettyUrl }}">{{ listing.streetAddress }}</a></td>
            <td>{{ listing.beds }}/{{ listing.baths }}/{{ listing.parking }}</td>
            <td [class.rent]="listing.channel === 'rent' || !listing.channel" [class.buy]="listing.channel === 'buy'">{{ getPriceRange(listing) }}</td>
            <td>{{ getAvailabilityRange(listing) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
