@import "../../variables";

table.property-list tbody tr {
  cursor: pointer;
}

.error.row {
  color: $error-text-color;
}

table.properties tbody tr {
  cursor: pointer;
}

table.properties {
  padding-bottom: 1em;
}

table.listings td, table.properties td {
  padding-top: 10px;
  padding-bottom: 10px;
}

table.listings td.buy {
  color: $buy-text-color;
}

table.listings td.rent {
  color: $rent-text-color;
}
