table.property-list tbody tr {
  cursor: pointer;
}

.error.row {
  color: #F44336;
}

.properties .notes {
  font-size: 0.95em;
  font-style: italic;
}

table.listings td {
  padding-top: 10px;
  padding-bottom: 10px;
}

table.listings td.buy {
  color: #bf360c;
}

table.listings td.rent {
  color: #006064;
}
