table.property-list tbody tr {
  cursor: pointer;
}

.error.row {
  color: #F44336; /* TODO: Move to _variables.scss */
}

table.properties tbody tr {
  cursor: pointer;
}

table.properties {
  padding-bottom: 1em;
}

table.listings td, table.properties td {
  padding-top: 10px;
  padding-bottom: 10px;
}

table.listings td.buy {
  color: #bf360c; /* TODO: Move to _variables.scss */
}

table.listings td.rent {
  color: #006064; /* TODO: Move to _variables.scss */
}
