<div>
  <div class="row">
    <div class="center-align col s12 m4 offset-m4 l2 offset-l5">
      <label for="date">Select a Date</label>
      <input id="date" type="text" name="date" /> <!--[value]="initialDateValue"-->
    </div>
  </div>
</div>

<div *ngIf="propertiesLoading">
  <div class="row">
    <div class="center-align col s12">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>

<div *ngIf="getPropertiesError" class="error row">
  <div class="center-align col s12">
    {{ getPropertiesError }}
  </div>
</div>


<div *ngIf="inspections.length > 0" class="row">
  <div class="col s12">
    <table>
      <thead>
      <tr>
        <th>Listing</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let inspection of inspections">
        <td>
          <a href="{{ inspection.listing.prettyUrl }}" target="_blank">{{ inspectionListing(inspection) }}</a>
          ({{ listingBedBathParking(inspection.listing) }}, <span [className]="listingChannelClass(inspection.listing)">{{ listingPrice(inspection.listing) }}</span>)
        </td>
        <td>{{ inspection.startTime.format() }}</td>
        <td>{{ inspection.endTime.format() }}</td>
      </tr>
      </tbody>
    </table>
  </div>
